<nav>
	<a class="link" href="https://github.com/{{ site.data.sns.github }}" target="_blank"><i class="fa fa-github"></i></a>
	<a class="link" href="https://codepen.io/{{ site.data.sns.codepen }}/" target="_blank"><i class="fa fa-codepen"></i></a>
	<a class="link" href="https://twitter.com/{{ site.data.sns.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
	<a class="link" href="https://www.facebook.com/{{ site.data.sns.facebook }}" target="_blank"><i class="fa fa-facebook-official"></i></a>
	<a class="link" href="https://pinterest.com/{{ site.data.sns.pinterest }}/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
	<a class="link" href="https://www.instagram.com/{{ site.data.sns.instagram }}/" target="_blank"><i class="fa fa-instagram"></i></a>
	<a class="link" href="mailto:{{ site.data.sns.mail }}" target="_blank"><i class="fa fa-envelope"></i></a>
</nav>